#Ignore thumbnails created by Windows
Thumbs.db

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
!*.pubxml.user

# StyleCop
StyleCop.Cache
StyleCopReport.xml

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015/2017 cache/options directory
.vs/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Front tests
test-results.trx

# e2e
**/e2e/*.js
**/e2e/*.map

# Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Python Tools for Visual Studio (PTVS)
__pycache__
*.pyc
.pytest_cache

# IDEs and editors
.idea/
.gradle/
.DS_Store

# Migrations
MigrationBackup/

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# DotCover is a Code Coverage Tool
*.dotCover

# dependencies
node_modules

# Diff
*.orig
**.orig
*~*

# CF WFE
sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/_Content
sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/_Scripts
sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/_Views
/sbt.cms.subrepo/Sbt.CMS/_Content/styles/**/*.css

sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/ngreports/*
sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/ipm/*

# todo temp ignore
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/controls/object-picker.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/controls/object-picker.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/controls/grid.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/controls/grid.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/controls/extendedSearch.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/controls/extendedSearch.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/controls/button.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/controls/button.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/controls/autocomplete.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/controls/autocomplete.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/controls/item-form.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/controls/item-form.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/state-manager.topics.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/state-manager.topics.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/forms-engine/topics.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/forms-engine/topics.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/forms-engine/form-view.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/forms-engine/form-view.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/forms-engine/form-view-connection.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/forms-engine/form-view-connection.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/forms-engine/form-engine.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/forms-engine/form-engine.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/forms-engine/field.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/forms-engine/field.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/forms-engine/field-dependency.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/forms-engine/field-dependency.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/forms-engine/fields-extensions.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/forms-engine/fields-extensions.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/forms-engine/dx-field.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/forms-engine/dx-field.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/forms-engine/events.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/forms-engine/events.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/forms-engine/common.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/forms-engine/common.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/events.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/common/events.js
# end todo
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/test/fields.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/test/fields.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/models/modelsX.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/models/modelsX.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/models/models.connections.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/models/models.connections.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Scripts/TypedModels/blocks.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Scripts/TypedModels/blocks.js

sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/styles/common/tags-list.css
sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/styles/common/tables.css
sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/styles/common/object-picker.css
sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/styles/common/main-menu.css
sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/styles/common/loading.css
sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/styles/common/kendo-overrides.css
sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/styles/common/grid.css
sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/styles/common/forms.css
sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/styles/common/form-layout.css
sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/styles/common/fields.css
sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/styles/common/extendedSearch.css
sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/styles/common/errors.css
sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/styles/common/common.css
sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/styles/common/bootstrap-overrides.css
sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/styles/models/models.css
sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/styles/test/test.css
sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/polifills.js.map
sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/polifills.js

sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Areas/Admin
sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Areas/Integration

sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Logs

.cache/v/cache/lastfailed
/sbt.cashflow.tm.subrepo/TypedModels.Front.Angular/.editorconfig
/sbt.cms.subrepo/Sbt.CMS.Balancer/Logs

!/sbt.cashflow.deployment/Sbt.Deployment.Services.Tests/Executable/File/TestApp.exe

#======== ML ==========
**/cib-database/build
**/cib-database/cibdb.egg-info
**/cib-database/dist
**/cib-mllib/build
**/cib-mllib/cibml.egg-info
**/cib-mllib/dist
**/cib-node-service/logs
**/cib-node-service/dev

# PM WFE
sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/deals/*
sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/pmreports/*
sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/portfolio-management/*.map
sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/portfolio-management/po.connections.js
sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/portfolio-management/portfolio-orders.js
sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/portfolio-management/targeting.js
sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/styles/portfolio-management/portfolio-management.css
sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/styles/portfolio-management/targeting.css
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/styles/portfolio-management/download-report-data.css
!sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/**/readme.txt

/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/portfolio-management/po.connections.js.map
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/portfolio-management/po.connections.js
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/portfolio-management/portfolio-orders.js.map
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/portfolio-management/portfolio-orders.js
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/portfolio-management/targeting.js.map
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/portfolio-management/targeting.js
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/styles/portfolio-management/download-report-data.css
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/styles/portfolio-management/portfolio-management.css
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/styles/portfolio-management/targeting.css
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/**/readme.txt

# CMS Common in Sbt.Cashflow.Portfolio
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/events.js
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/events.js
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/events.js.map
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/state-manager.topics.js.map
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/state-manager.topics.js
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/controls/autocomplete.js.map
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/controls/autocomplete.js
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/controls/autocomplete.js.map
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/controls/autocomplete.js
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/controls/button.js.map
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/controls/button.js
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/controls/extendedSearch.js.map
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/controls/extendedSearch.js
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/controls/grid.js.map
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/controls/grid.js
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/controls/item-form.js.map
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/controls/item-form.js
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/controls/object-picker.js.map
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/controls/object-picker.js
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/forms-engine/common.js.map
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/forms-engine/common.js
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/forms-engine/common.js.map
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/forms-engine/common.js
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/forms-engine/dx-field.js.map
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/forms-engine/dx-field.js
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/forms-engine/events.js.map
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/forms-engine/events.js
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/forms-engine/field.js.map
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/forms-engine/field.js
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/forms-engine/field-dependency.js.map
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/forms-engine/field-dependency.js
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/forms-engine/fields-extensions.js.map
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/forms-engine/fields-extensions.js
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/forms-engine/form-engine.js.map
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/forms-engine/form-engine.js
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/forms-engine/form-view.js.map
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/forms-engine/form-view.js
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/forms-engine/form-view-connection.js.map
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/forms-engine/form-view-connection.js
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/forms-engine/topics.js.map
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/forms-engine/topics.js
# CMS Common in Sbt.Cashflow.Portfolio


.cache/

# CMS Common in Sbt.CMS.Cashflow
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/events.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/events.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/state-manager.topics.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/state-manager.topics.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/controls/autocomplete.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/controls/autocomplete.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/controls/autocomplete.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/controls/autocomplete.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/controls/button.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/controls/button.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/controls/extendedSearch.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/controls/extendedSearch.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/controls/grid.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/controls/grid.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/controls/item-form.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/controls/item-form.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/controls/object-picker.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/controls/object-picker.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/forms-engine/common.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/forms-engine/common.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/forms-engine/common.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/forms-engine/common.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/forms-engine/dx-field.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/forms-engine/dx-field.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/forms-engine/events.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/forms-engine/events.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/forms-engine/field.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/forms-engine/field.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/forms-engine/field-dependency.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/forms-engine/field-dependency.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/forms-engine/fields-extensions.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/forms-engine/fields-extensions.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/forms-engine/form-engine.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/forms-engine/form-engine.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/forms-engine/form-view.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/forms-engine/form-view.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/forms-engine/form-view-connection.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/forms-engine/form-view-connection.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/forms-engine/topics.js.map
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Content/scripts/cms/common/forms-engine/topics.js
# CMS Common in Sbt.CMS.Cashflow

# CMS Common in Sbt.CMS
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/events.js.map
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/events.js
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/events.js.map
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/events.js
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/controls/autocomplete.js.map
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/controls/autocomplete.js
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/controls/autocomplete.js.map
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/controls/autocomplete.js
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/controls/button.js.map
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/controls/button.js
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/controls/extendedSearch.js.map
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/controls/extendedSearch.js
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/controls/grid.js.map
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/controls/grid.js
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/controls/item-form.js.map
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/controls/item-form.js
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/controls/object-picker.js.map
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/controls/object-picker.js
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/forms-engine/common.js.map
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/forms-engine/common.js
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/forms-engine/common.js.map
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/forms-engine/common.js
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/forms-engine/dx-field.js.map
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/forms-engine/dx-field.js
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/forms-engine/events.js.map
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/forms-engine/events.js
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/forms-engine/field.js.map
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/forms-engine/field.js
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/forms-engine/field-dependency.js.map
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/forms-engine/field-dependency.js
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/forms-engine/fields-extensions.js.map
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/forms-engine/fields-extensions.js
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/forms-engine/form-engine.js.map
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/forms-engine/form-engine.js
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/forms-engine/form-view.js.map
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/forms-engine/form-view.js
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/forms-engine/form-view-connection.js.map
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/forms-engine/form-view-connection.js
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/forms-engine/topics.js.map
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/forms-engine/topics.js
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/events.js.map
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/events.js
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/events.js.map
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/events.js
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/state-manager.topics.js.map
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/state-manager.topics.js
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/state-manager.topics.js
/sbt.cms.subrepo/Sbt.CMS/_Scripts/cms/common/state-manager.topics.js.map
# CMS Common in Sbt.CMS
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Content/scripts/cms/common/events.js
/sbt.cms.cashflow.subrepo/Sbt.CMS.Cashflow/Areas/API

# Realty
sbt.cashflow.realty.subrepo/Sbt.Cashflow.Realty/Logs
sbt.cashflow.realty.subrepo/Sbt.Cashflow.Realty/_Content
sbt.cashflow.realty.subrepo/Sbt.Cashflow.Realty/_Scripts
sbt.cashflow.realty.subrepo/Sbt.Cashflow.Realty/_Views

/packages
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Areas
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/_Content
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/Logs
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/_Views
/sbt.cashflow.portfolio.subrepo/Sbt.Cashflow.Portfolio/_Scripts
